<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Citradisi2a."
        tools:targetApi="31">

        <activity
            android:name=".view.auth.AuthActivity"
            android:exported="true">
            <!-- Login Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="false">
            <!-- Beranda Activity -->
        </activity>

        <activity
            android:name=".view.detail.DetailActivity"
            android:exported="false">
            <!-- Camera Activity -->
        </activity>

        <activity
            android:name=".view.bookmark.BookmarkActivity"
            android:exported="false">
            <!-- Bookmark Activity -->
        </activity>

        <!-- Add your additional activities here -->

    </application>

</manifest>
